* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--color: #0984e3;
}
div {
	width: 100%;
	padding: 20px 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--color);
}
.logo {
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
}
.palette-container {
	position: relative;
}
.fa-palette {
	font-size: 30px;
	color: #111;
	transition: all 0.2s;
}
.palette-container:hover .fa-palette {
	color: #fff;
}
.plaette-colors {
	position: absolute;
	top: 31px;
	left: -20px;
	background-color: var(--color);
	list-style: none;
	padding: 10px;
	display: none;
}
.palette-container:hover .plaette-colors {
	display: block;
}

.colors {
	width: 30px;
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 50%;
	margin: 10px;
	cursor: pointer;
}

#blue {
	background-color: #0984e3;
}
#yellow {
	background-color: #f1c40f;
}
#purple {
	background-color: #6c5ce7;
}
#green {
	background-color: #27ae60;
}
#black{
    background-color: #000;
}




button {
	padding: 10px 20px;
	font-size: 18px;
	outline: none;
	border: 1px solid var(--color);
	color: #fff;
}
.btn-fill {
	background-color: var(--color);
}
.btn-hover {
	color: #111;
	transition: all 0.3s;
	margin-left: 15px;
}
.btn-hover:hover {
	background-color: var(--color);
	color: #fff;
}
